<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Web Client Starter</title>

    <meta name="description" content="HTML Page">
    <meta name="author" content="Juice">

    <link rel="stylesheet" href="/static/css/styles.css?v=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div class="content-wrapper">

        <div class="qr-tag" id="qrcode"></div>

        <h4>Welcome to the web client</h4>

        <input id="input" type="text">
        <input id="submit" type="button" value="submit">

        <div id="cursor">hue</div>

    </div>

    <script src="/static/lib/qrcode.min.js"></script>
    <script>

        (function() {

            // -----------------------------------------------
            // websocket stuff

            // console.log( "1" , window.location.hostname );
            // console.log( "2" , window.location.pathname );
            // console.log( "3" , window.location.href );
            // console.log( "4" , window.location.protocol );

            var protocol = window.location.protocol;
            var hostname = window.location.hostname;
            var pathname = window.location.pathname; 
            var href = window.location.href;

            var socketUrl = href.replace( protocol , 'ws:' );
            socketUrl = socketUrl.replace( pathname , '/websocket' );
            console.log( socketUrl );

            var ws = new WebSocket( socketUrl );

            var input = document.getElementById( 'input' );
            var submit = document.getElementById( 'submit' );
            var cursor = document.getElementById( "cursor" );

            var getInput = function() {
                return input.value;
            }
    
            var submitInput = function() {
                var input = getInput();
                ws.send( input );
            }

            ws.onmessage = function( evt ) {
                // alert( evt.data );
                console.log( evt.data );
                cursor.style.left = ( evt.data * 4 ) + "px";
            }

            submit.addEventListener( 'click' , submitInput );


            // -----------------------------------------------
            // phone orientation stuff

            window.ondevicemotion = function( event )
            {
                var x = event.accelerationIncludingGravity.x;
                var y = event.accelerationIncludingGravity.y;
                ws.send( x );
            }


            /*
            ws.onopen = function() {
               ws.send("Hello, world");
            };

            ws.onmessage = function (evt) {
               alert(evt.data);
            };
            */

            // -----------------------------------------------
            // qr code stuff

            var currentUrl = window.location.href;
            var destinationUrl = currentUrl;

            /*
            var localAddress = "localhost:9191";
            var networkAddress = "192.168.0.137:9191";
            var localUrl = window.location.href;
            var networkUrl = localUrl.replace( localAddress , networkAddress );
            var destinationUrl = networkUrl;
            */

            // manual overwrite ghetto edition:
            // destinationUrl = "http://192.168.0.137:8989/client";

            console.log( destinationUrl );

            var qrcode = new QRCode( "qrcode" , {
                text: destinationUrl ,
                width: 128 ,
                height: 128 ,
                colorDark : "#000000" ,
                colorLight : "#ffffff" ,
                correctLevel : QRCode.CorrectLevel.H
            });

        })();

    </script>

</body>
</html>

